################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MarsRover
/MarsRoverTests/obj
/MarsRoverTests/bin/Debug/net6.0
/.vs
/obj
/MarsRoverLibrary/bin/Debug/net6.0
/MarsRoverLibrary/obj
